<h1>Coupon Form</h1>

<%= form_for @coupon do |c| %>
    <%= c.label "Coupon Code" %><br>
    <%= c.text_field :coupon_code %><br>
    
    <%= c.label "Coupon For Store" %><br>
    <%= c.text_field :store %><br>

    <%= c.submit "Submit Coupon" %>
<% end %>